<main class="show">
    <div class="show-window">
        <h4 class="post-header">
            <div><%= post.title %></div>
            <div> <a href="javascript:history.back()">X Close</a></div>
        </h4>
        <div class="show-gridwrapper">
            <div class="show-post-card">
                <div class="show-upvote">
                    <form action="/upvote" method="post">
                        <button class="up-tick"><img src='<%= post.upVote %>' alt="" class="up-tick-img"></button>
                        <input type="hidden" value="<%= post.id %>" name="postId">
                    </form>
                    <%= post.upvotes %>
                    <form action="/downvote" method="post">
                        <button class="down-tick"><img src="<%= post.downVote %>" alt="" class="up-tick-img"></button>
                        <input type="hidden" value="<%= post.id %>" name="postId">
                    </form>
                </div>
                <div class="show-main">
                    <p class="show-sig"><span class="subreedit-sig"><a href='/r/<%= post.subreedit %>'>/r/<%= post.subreedit %></a></span><span class="user-sig"> Posted by <a href='/user/<%= post.username %>'>u/<%= post.username %></a> <%= timeDifference(post.time) %></span></p>
                    <h4 class="show-title"><%= post.title %></h4>
                    <div class="img-container">

                        <img class="main-img" src="<%= post.image_url%>" alt="">
                    </div>
                    
                    <p class="show-description"><%= post.description %> </p>
                    
                    <% if (currentUser === post.username) { %> 
                        <form action="/posts/<%= post.id %>?_method=delete" method="post">
                            <button>delete</button>
                        </form>
                       
                        <a href="/posts/<%= post.id %>/edit">edit post</a>
                    <% } %>
                    
                    <% if (currentUser) { %>
                        <p>Comment as <%= currentUser %></p>
                        
                    <% } else { %>
                        Please <a href="/login">login</a> to leave a comment
                    <% } %>
                            <div class="comment-window">
                                <form action="/comments" method="post">
                                    <textarea name="description" class="comment-box" placeholder="What are your thoughts?"></textarea>
                                    <input type="hidden" name="postId" value="<%= post.id %>">
                                    <button>Comment</button>
                                </form>
                            </div>
                            
                    <div class="comment-display">
                        
                        <% if (comments.rowCount !== 0) { %>
                            <% for (let comment of comments.rows) { %>
                                <div class="comment-card">
                                    <p class="comment-sig"><a href='/user/<%= comment.username %>'><%= comment.username %></a><span class="user-sig"> <%= timeDifference(comment.time) %></span></p>
                                    <p class="comment-description"><%= comment.description %></p>
                                    <p class="comment-interface">^ 0 v Reply Share</p>
                                </div>
                            <% } %>
                        <% } else { %>
                            <p>No comments yet</p>
                        <% } %>
                    </div>

                </div>

            </div>
            <div class="show-aside">
                <p><a href='/r/<%= post.subreedit %>'>r/<%= post.subreedit %></a></p>
            </div>
        </div>

    </div>

</main>

