<div class="gridwrapper">
    <div>
        <% for (const post of posts) { %>
            <div class="post-card">
                <div class="upvote">
                    <form action="/upvote" method="post">
                        <button class="up-tick"><img src='<%= post.upVote %>' alt="" class="up-tick-img"></button>
                        <input type="hidden" value="<%= post.id %>" name="postId">
                    </form>
                    <%= post.upvotes %>
                    <form action="/downvote" method="post">
                        <button class="down-tick"><img src="<%= post.downVote %>" alt="" class="up-tick-img"></button>
                        <input type="hidden" value="<%= post.id %>" name="postId">
                    </form>
                </div>
                <div class="main-post-card">
                    <p class="sig"><span class="subreedit-sig"><a href='/r/<%= post.subreedit %>'>r/<%= post.subreedit%></a></span> <span class="user-sig">Posted by <a href="/user/<%= post.username %>">u/<%= post.username %></a> <%= timeDifference(post.time) %></span></p>
                    <h3 class="main-title"><a href="/posts/<%=post.id%>"><%= post.title %></h3></a>
                    
                    <div class="img-container">
                        <img src="<%= post.image_url%>" alt="" class="main-img">

                    </div>
                
                    <p><%= post.description %></p>
                </div>
            </div>
        <% } %>
    </div>

    <div class="aside">
        <h1>r/<%= posts[0].subreedit %></h1>
    </div>
</div>